.form_container{
    display:flex;
    flex-wrap: wrap;
}

.searchInput, .select{
    border-radius: 5px;
    padding: 5px 10px;
    width:100%;
    
}

.searchInput input{
    border: none;
    outline: none;
}

.select{
    width:80%;
}

.select:focus{
    outline: none;
}

@media screen and (min-width:786px){
    .searchInput{
        width:45%;
    }

    .select{
        width:25%;
    }
}